---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2280/reviews?api_key=e1c26902efd7893644587d792188237b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 38ffed8c6ef21d26b5ba21b82c424b26
      X-Memc-Age:
      - '667'
      X-Memc-Expires:
      - '23532'
      Etag:
      - W/"251e442494b8d61f70194e5d50ec6c66"
    body:
      encoding: ASCII-8BIT
      string: '{"id":2280,"page":1,"results":[{"author":"Andre Gonzales","author_details":{"name":"Andre
        Gonzales","username":"SoSmooth1982","avatar_path":"/ast1oGYDI7Li9daLuOV4UxGiXj.jpg","rating":7.0},"content":"Love
        this movie growing up. Everytime I went to a fair I was always hoping to find
        a machine like this. Still one of my favorite movies of all time.","created_at":"2023-04-30T03:48:35.150Z","id":"644de5139affc0049ddfc71f","updated_at":"2023-04-30T03:48:35.233Z","url":"https://www.themoviedb.org/review/644de5139affc0049ddfc71f"}],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 04 Feb 2024 14:33:56 GMT
recorded_with: VCR 6.2.0
