<% if params[:q] == "search" %>

  <h1>Searched Movie:</h1>
  <% if @movie %>
    <h2>Title: <%= @movie[:title] %></h2>
    <h3>Overview: <%= @movie[:overview] %></h3>
  <% else %>
    <h1>No Movie Found. Please Try Again.</h1>
  <% end %>

<% elsif params[:q] == "top rated" %>

  <h1>Top 20 Movies</h1>

  <% @top_rated.each do |movie| %>
      <h2>Title: <%= movie[:title] %></h2>
      <h3>Overview: <%= movie[:overview] %></h3>
  <% end %>

  <% else %>
    <h1>No Data to Show :( Please Try Again.</h1>
<% end %>