<% if params[:q] == "search" %>

  <h1>Searched Movie:</h1>
  <% if @movie %>
    <h3><%= @movie[:title] %></h3>
    <h3><%= @movie[:overview] %></h3>
  <% else %>
    <h3>No Movie Found. Please Try Again.</h3>
  <% end %>

<% elsif params[:q] == "top rated" %>

  <h1>Top 20 Movies</h1>

  <% @top_rated.each do |movie| %>
    <div class="movie">
      <h2><%= movie[:title] %></h2>
      
      <p><%= movie[:overview] %></p>
    </div>
  <% end %>

  <% else %>
    <h3>No Data to Show :( Please Try Again.</h3>
<% end %>