---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2280/watch/providers?api_key=e1c26902efd7893644587d792188237b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9c8f4998d2a5cbbf81450cdfdb5f9c2d
      X-Memc-Age:
      - '3930'
      X-Memc-Expires:
      - '23970'
      Etag:
      - W/"6c6dc7f17bbf8b0ce5e89956eb544f5e"
    body:
      encoding: ASCII-8BIT
      string: '{"id":2280,"results":{"AD":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AD","flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":7}]},"AE":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AE","buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}]},"AL":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AL","flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":7}],"rent":[{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}],"buy":[{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}]},"AR":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AR","buy":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":6}],"rent":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":6}]},"AT":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AT","rent":[{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":3},{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":4},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}],"flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":2}],"buy":[{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":3},{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":4},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}]},"AU":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AU","buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":10},{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":12},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":14},{"logo_path":"/pTnn5JwWr4p3pG8H6VrpiQo7Vs0.jpg","provider_id":192,"provider_name":"YouTube","display_priority":22}],"flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":0}]},"AZ":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=AZ","rent":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":1}],"buy":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":1}]},"BA":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=BA","rent":[{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}],"buy":[{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":9}],"flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":7}]},"BE":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=BE","buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":6},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":10},{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":48}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":6},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8yJwm.jpg","provider_id":35,"provider_name":"Rakuten
        TV","display_priority":10},{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":48}],"flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":0}]},"BG":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=BG","flatrate":[{"logo_path":"/7YPdUs60C9qQQQfOFCgxpnF07D9.jpg","provider_id":337,"provider_name":"Disney
        Plus","display_priority":18}],"buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":2}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":2}]},"CA":{"link":"https://www.themoviedb.org/movie/2280-big/watch?locale=CA","rent":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":8},{"logo_path":"/d1mUAhpJpxy0YMjwVOZ4lxAAbeT.jpg","provider_id":140,"provider_name":"Cineplex","display_priority":14},{"logo_path":"/5vfrJQgNe9UnHVgVNAwZTy0Jo9o.jpg","provider_id":68,"provider_name":"Microsoft
        Store","display_priority":17},{"logo_path":"/pTnn5JwWr4p3pG8H6VrpiQo7Vs0.jpg"[...]
