---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2280/credits?api_key=e1c26902efd7893644587d792188237b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4013b9e8f4bb64feece8dd5110d4c273
      X-Memc-Age:
      - '24648'
      X-Memc-Expires:
      - '2204'
      Etag:
      - W/"a8e2f8aa1c077037281170608f467c46"
    body:
      encoding: ASCII-8BIT
      string: '{"id":2280,"cast":[{"adult":false,"gender":2,"id":31,"known_for_department":"Acting","name":"Tom
        Hanks","original_name":"Tom Hanks","popularity":59.874,"profile_path":"/xndWFsBlClOJFRdhSt4NBwiPq2o.jpg","cast_id":1,"character":"Josh
        Baskin","credit_id":"52fe4349c3a36847f8048ac3","order":0},{"adult":false,"gender":1,"id":20,"known_for_department":"Acting","name":"Elizabeth
        Perkins","original_name":"Elizabeth Perkins","popularity":19.708,"profile_path":"/vTWYllD9V76rgv9XAbtkkjjeunG.jpg","cast_id":2,"character":"Susan","credit_id":"52fe4349c3a36847f8048ac7","order":1},{"adult":false,"gender":2,"id":1162,"known_for_department":"Acting","name":"Robert
        Loggia","original_name":"Robert Loggia","popularity":19.952,"profile_path":"/mRSUgJnfprCNw83pyVfpfW7ryfK.jpg","cast_i[...]
